<a href="https://colab.research.google.com/github/kimchaeyoung-student/pdm04/blob/master/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [2]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [3]:
type(s)

pandas.core.series.Series

In [4]:
# indexing 7 slicing of series
s[0]

6    you
dtype: object

In [5]:
s[:3]

0    1
1    3
2    5
dtype: object

In [6]:
s[-1:] # 시리즈의 맨 마지막 인덱스를 가져오기 위해서는 콜론(:)을 붙여줘야 함

6    you
dtype: object

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [7]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [8]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-09-28  0.329716  0.909409  0.195886 -0.252347
2020-09-29 -0.915284 -1.252245 -2.378603  0.574540
2020-09-30 -0.101090 -0.208624 -0.215394 -0.639247
2020-10-01  0.572194 -2.681318  0.003113 -0.860747
2020-10-02  0.891400  0.022989  0.065631 -1.392100
2020-10-03  0.572439 -0.648334  0.695625 -1.131677

In [10]:
# check types of df  --> same type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [11]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [14]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20200928'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

# 시리즈의 구조가 딕셔너리 구조와 같음
# C와 D에 값이 4개가 들어가있기 때문에 A와 F도 자동으로 4개로 확장됨

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2020-09-28  1.0  3   test  foo
1  1.0 2020-09-28  1.0  3  train  foo
2  1.0 2020-09-28  1.0  3   test  foo
3  1.0 2020-09-28  1.0  3  train  foo

In [16]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
type(df2)

pandas.core.frame.DataFrame



---