<a href="https://colab.research.google.com/github/kimchaeyoung-student/pdm04/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head() # 앞의 5개의 행만 보여준다.

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468

In [4]:
df.head(2)  # 앞의 2개의 행만 보여준다.

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602

In [5]:
df.tail(3)  # 뒤에서부터 3개의 행만 보여준다.

                   A         B         C         D
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [6]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [8]:
# describe() shows a quick statistic summary of your data:
df.describe() # 데이터의 통계적인 결과를 나타냄

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.016326 -0.157992  0.293550 -0.414488
std    0.763214  1.192777  1.635411  0.516900
min   -1.094999 -1.700679 -1.751175 -1.146698
25%   -0.573435 -1.083739 -0.811645 -0.752388
50%    0.178607  0.323138  0.427041 -0.343357
75%    0.634762  0.366395  0.910791 -0.079281
max    0.677134  1.278334  2.810894  0.226468

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
# Transposing your dataframe:
df.T
# 2차원 구조이기 때문에 전치가능

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -1.094999    0.677134    0.524720   -0.167506   -0.708745    0.671442
B   -1.700679    0.300685    1.278334   -1.545213    0.373329    0.345591
C   -1.202542    1.050044    2.810894   -1.751175    0.361048    0.493034
D   -1.146698   -0.063602   -0.560398   -0.126315    0.226468   -0.816384

In [11]:
df.T.index  # 날짜에서 문자열 인덱스로 바뀜

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [13]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)  # 최근 날짜부터 정렬됨 (수직으로)

(                   A         B         C         D
 2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
 2020-09-29  0.677134  0.300685  1.050044 -0.063602
 2020-09-30  0.524720  1.278334  2.810894 -0.560398
 2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
 2020-10-02 -0.708745  0.373329  0.361048  0.226468
 2020-10-03  0.671442  0.345591  0.493034 -0.816384,
                    A         B         C         D
 2020-10-03  0.671442  0.345591  0.493034 -0.816384
 2020-10-02 -0.708745  0.373329  0.361048  0.226468
 2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
 2020-09-30  0.524720  1.278334  2.810894 -0.560398
 2020-09-29  0.677134  0.300685  1.050044 -0.063602
 2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698)

In [14]:
df,df.sort_index(axis=1, ascending=False) # D~A 순으로 정렬됨 (수평으로)

(                   A         B         C         D
 2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
 2020-09-29  0.677134  0.300685  1.050044 -0.063602
 2020-09-30  0.524720  1.278334  2.810894 -0.560398
 2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
 2020-10-02 -0.708745  0.373329  0.361048  0.226468
 2020-10-03  0.671442  0.345591  0.493034 -0.816384,
                    D         C         B         A
 2020-09-28 -1.146698 -1.202542 -1.700679 -1.094999
 2020-09-29 -0.063602  1.050044  0.300685  0.677134
 2020-09-30 -0.560398  2.810894  1.278334  0.524720
 2020-10-01 -0.126315 -1.751175 -1.545213 -0.167506
 2020-10-02  0.226468  0.361048  0.373329 -0.708745
 2020-10-03 -0.816384  0.493034  0.345591  0.671442)

#### Sort by value
- sort_values(by='column')
- 특정한 column 값을 기준으로 sorting

In [15]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)
# B행을 기준으로 전체가 정렬됨

(                   A         B         C         D
 2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
 2020-09-29  0.677134  0.300685  1.050044 -0.063602
 2020-09-30  0.524720  1.278334  2.810894 -0.560398
 2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
 2020-10-02 -0.708745  0.373329  0.361048  0.226468
 2020-10-03  0.671442  0.345591  0.493034 -0.816384,
                    A         B         C         D
 2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
 2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
 2020-09-29  0.677134  0.300685  1.050044 -0.063602
 2020-10-03  0.671442  0.345591  0.493034 -0.816384
 2020-10-02 -0.708745  0.373329  0.361048  0.226468
 2020-09-30  0.524720  1.278334  2.810894 -0.560398)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [16]:
df

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [17]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28   -1.094999
2020-09-29    0.677134
2020-09-30    0.524720
2020-10-01   -0.167506
2020-10-02   -0.708745
2020-10-03    0.671442
Freq: D, Name: A, dtype: float64

### 그러면, 열-A, B를 다 선택할려면?

In [19]:
# df['A','B'] # 에러발생

df[['A','B']] # 대괄호로 묶어줘야 같이 나타낼 수 있음

                   A         B
2020-09-28 -1.094999 -1.700679
2020-09-29  0.677134  0.300685
2020-09-30  0.524720  1.278334
2020-10-01 -0.167506 -1.545213
2020-10-02 -0.708745  0.373329
2020-10-03  0.671442  0.345591

In [20]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398

In [21]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

# 0928부터 1001까지 다 나타남 (값을 직접 지정할 때는 마지막 값도 나타남!)

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315

#### Selecting data by label

> **loc, iloc**

In [22]:
df

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [23]:
dates[0]

Timestamp('2020-09-28 00:00:00', freq='D')

In [24]:
df.loc[dates[0]]   # loc()

A   -1.094999
B   -1.700679
C   -1.202542
D   -1.146698
Name: 2020-09-28 00:00:00, dtype: float64

In [25]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2020-09-28 -1.094999 -1.700679
2020-09-29  0.677134  0.300685
2020-09-30  0.524720  1.278334
2020-10-01 -0.167506 -1.545213
2020-10-02 -0.708745  0.373329
2020-10-03  0.671442  0.345591

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [29]:
df[0:2]

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602

In [30]:
# df.loc[0:2,['C','D']] # 에러 발생

df.loc['20200928':'20200929',['C','D']] # value로 했을 때는 마지막 값도 포함됨

                   C         D
2020-09-28 -1.202542 -1.146698
2020-09-29  1.050044 -0.063602

In [31]:
df.loc[dates[:2],['C','D']] # 인덱스는 마지막 값 포함 안됨

                   C         D
2020-09-28 -1.202542 -1.146698
2020-09-29  1.050044 -0.063602

#### Selecting data by position (iloc())
- index 사용

In [32]:
df

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [33]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.167506
B   -1.545213
C   -1.751175
D   -0.126315
Name: 2020-10-01 00:00:00, dtype: float64

In [34]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc

df.iloc[:2,2:4] # 행은 0,1, 열은 C,D

                   C         D
2020-09-28 -1.202542 -1.146698
2020-09-29  1.050044 -0.063602

In [35]:
# Select one item
df.iloc[1,1]  # 20200929, B

0.30068511368328493

#### Selecting data by Boolean indexing

In [36]:
df

                   A         B         C         D
2020-09-28 -1.094999 -1.700679 -1.202542 -1.146698
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-01 -0.167506 -1.545213 -1.751175 -0.126315
2020-10-02 -0.708745  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [37]:
df[df.A > 0]  # A를 기준으로 0보다 큰 값만 나타냄

                   A         B         C         D
2020-09-29  0.677134  0.300685  1.050044 -0.063602
2020-09-30  0.524720  1.278334  2.810894 -0.560398
2020-10-03  0.671442  0.345591  0.493034 -0.816384

In [38]:
df[df > 0]  # 0보다 작은 값들은 NaN 처리되어서 나옴

                   A         B         C         D
2020-09-28       NaN       NaN       NaN       NaN
2020-09-29  0.677134  0.300685  1.050044       NaN
2020-09-30  0.524720  1.278334  2.810894       NaN
2020-10-01       NaN       NaN       NaN       NaN
2020-10-02       NaN  0.373329  0.361048  0.226468
2020-10-03  0.671442  0.345591  0.493034       NaN